################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/CPP/MSVC-QT/.vs/smeeting-windows-demo/v16
/CPP/MSVC-QT/Debug/qmake
/CPP/MSVC-QT/Release
/CPP/MSVC-QT/smeeting-windows-demo.vcxproj.user
/CPP/MSVC-QT/srtc_win_demo.pro.user
/CPP/out
